.product-card {
  @root: product-card;
  @speed: 0.3s;
  @padding: 35px;

  position: relative;
  border: 1px solid @border-color;
  border-width: 0px 2px 2px 0;
  min-height: 330px;
  padding: @padding;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: @color-main;
    transition: @speed;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
  }

  &:hover {
    &::before {
      opacity: 0.9;
    }

    .@{root} {
      &__bottom {
        color: white;
      }

      &__elements {
        opacity: 1;
      }
    }
  }

  &__elements {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: max-content;
    width: 100%;
    padding: 0 @padding;
    margin: auto;
    transition: @speed;
    z-index: 2;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    flex-grow: 1;

    // &::after {
    //   content: '';
    //   flex: auto;
    // }
  }

  &__image {
    margin-bottom: 30px;

    img {
      display: block;
      margin: auto;
    }
  }

  &__buy {
    margin-right: 10px;
  }

  &__bottom {
    position: relative;
    transition: 0.2s;
    z-index: 2;
  }

  &__name {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 4px;
    letter-spacing: 0.1px;
  }

  &__price {
    font-family: @font-family-second;
    font-weight: 300;
  }

  &__old-price {
    font-family: @font-family-second;
  }

  @media(max-width: @lg) {
    min-height: 26vw;
    padding: 2vw;
  }
}